@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
h1{
    align-self: center;
    font-family:Arial, Helvetica, sans-serif;
    
    color:#eee; 
    background-image: linear-gradient(45deg, #eee, #e40c2b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    
    
    /* background-image: linear-gradient(45deg, #eee, #df0122); */
    
}
h4{
    
    color:#eee;
    padding-bottom:3vh;
    padding-left:7vw;
    font-size:.9em;
    padding-right:5vw;
    font-family:Arial, Helvetica, sans-serif;
    /* background-color:#1d1d2c; */

}
.endHeader{
    background-color:#1d1d2c;
}
#navButton{
    background:none;
    border:none;
    font-size:2em;
    color:#eee;
    cursor: pointer;
    align-self: center;

    /* background-image: linear-gradient(45deg, #eee, #e40c2b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent; */
}
#icon{
    align-self: center;
    font-size:2em;
    margin-left:1vw;
    margin-right: 3vw;
}
#iconHead{
    display:flex;
    
}
#projectContainer{

    color:#1d1d2c;

    padding-top:8vh;
    font-family: 'Rubik', sans-serif;
    max-width: 300px;

    width:20vw;
    height:93vh;
    /* background-color: rgb(228, 227, 227); */
    background-color: #eee;

}
#taskContainer{
    background-color: white;
    padding-top:8vh;
    color: #1d1d2c;
    padding:8vh;
    /* margin: 15px; */
    font-family: 'Rubik', sans-serif;
    /*width:480px;*/
    width:80vw;
    height:90vh;
    
    
}

.header{
    display: flex;
    padding-left: 3vw;
    padding-right: 3vw;
    justify-content: space-between;
    height:7vh;
    padding-bottom: 3vh;
    padding-top: 5vh;
    /* background-color: rgb(68, 180, 68);  */
    /* border-bottom: 4px solid black; */
    background-color:#1d1d2c;
    /* background-color:#f7f4e9; */
    /* background-color:#e8eae3; */
    /* background-color:rgb(199, 197, 197);  */

   
}


#content{
    display:flex;

    justify-content: center;
}
 

.highlightProject{
    background-color:white;
    display: flex;
    padding:10px;
    justify-content: space-between;

    /* border-top-right-radius: 15px;
    border-bottom-right-radius: 15px; */
    cursor: pointer;
    margin-bottom: 1.5vh;
    border-left: 3px solid #e40c2b;
    align-items: center;
    
}
.noHighlightProject{
    display: flex;
    /* background-color: grey; */
    padding:10px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-bottom: 1.5vh;

 
}
.noHighlightProject:hover{
    background-color: white;
    
}

.projectDeleteButton{
    display:none; 
    color: #1d1d2c;
    background:none;
    border:none;
    cursor: pointer;
} 

 .noHighlightProject:hover > .projectDeleteButton{
    display:flex;
}
.highlightProject:hover .projectDeleteButton{
    display:flex;
}


.taskBall{
    background:none;
    border:none; 
    font-size:1.5em;
    cursor: pointer;
}
#taskTitle{
    /* width: 50vw; */
    padding-left:2vw;
    font-size:.9em;
    max-width: 40vw;
    
}
.taskDiv{
    display:flex;
    padding:10px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-left: 3px solid ;
    background-color: #eee;
    margin:15px;
    margin-left:5vw;
    margin-right:5vw;
    /* border-radius: 5px; */
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    /* font-size:.9em; */
    
}
.taskDiv:hover{
    transform: scale(1.003);
 
    transform-origin: 50% 50%;
   
    box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.2);
  
    transition: all .2s ease-out;
}
#taskHeader{
    margin-left: 5vw;
    margin-top:6vh;
    color:rgb(184, 184, 184);
    font-size: 1em;
    font-weight:bold;
    padding-left:1vw;
}
#taskDate{
    font-size:.8em;
    color:grey;
}
.taskDeleteButton{
    color: #1d1d2c;
    background:none;
    border:none;
    cursor: pointer;
    display:none;
}
.taskDiv:hover > .taskDeleteButton{
    display:flex;
}
#taskCheckbox{
    display:none;
}
.taskDiv:hover > #taskCheckbox{
    display:flex;
    cursor: pointer;
}
.taskEditButton{
    display:none;
    color: #1d1d2c;
    background:none;
    border:none;
    
}
.taskDiv:hover > .taskEditButton{
    display:flex;
    cursor: pointer;
}
.taskViewNotesButton{
    display:none;
    color: #1d1d2c;
    background:none;
    border:none;
}
.taskDiv:hover > .taskViewNotesButton{
    display:flex;
    cursor: pointer;
}
#newProjectButton{
    display:flex;
    color:#cacaca;
    background:none;
    border:none;
    font-size:2em;
    cursor: pointer;
    float:right;
    margin-right: 9vw;
}
/* #projectContainer:hover > #newProjectButton{
    display:flex;
    
} */
#newTaskButton{
    display:flex;
    color:#cacaca;
    background:none;
    border:none;
    font-size:2em;
    cursor: pointer;
    float:right;
    margin-right:5vw;

    
}
/* #taskContainer:hover > #newTaskButton{
    display:flex;
    float:right;
    margin-right:5vw;
} */

#newTaskForm{
    /*display:flex;*/
    padding:10px;
    justify-content: space-between;
    align-items: center;
    /*flex-wrap: wrap;*/
    width:55vw;
    margin-left:5vw;
    margin-right:5vw;
    border-radius:5px;
}
.generalButtons{
border:none;
cursor: pointer; 
padding:3px;
margin:3px;
}
#titleInput{
    width:18vw;
}



@media screen and (max-width:700px){

    #content{
        display:inline;
        justify-content: center;
    }
    #projectContainer{
       
        width:90vw;
        /* height:30vh; */
    }
    #taskContainer{
        width:95vw;
        padding:0vh;
        padding-top:8vh;
    }
    #projectListContainer{
        background-color:#eee;
    }
    #newProjectContainer{
        background-color: #eee;
    }
    #notesArea{
        width:300px;
    }
    #notesAreaView{
        width:300px;
        margin-top:2vh;
    }
}